@CHARSET "ISO-8859-1";
<STYLE type="text/css">
/* body{
 background-image:url("background.jpg"); 
} */
li a
{
display:inline;
}
body {
font-family: Arial, sans-serif;
font-size: 0.9em;
 background-image:url("background.jpg"); 

 background-color:silver;
 }
p
{
line-height: 1.5em;
}
#menu, ul#menu ul { /* stylizing the menu and the list nested in the menu */
list-style-type:none;
margin: 0;
padding: 0;
width: 10em;
}
ul#menu a { /* stylizing the <a> elements nested in the menu */
display: inline;
text-decoration: none;
}
ul#menu li { /* stylizing the list items nested in the menu */
margin-top: 1px;
}
ul#menu li a { /* stylizing the <a> elements nested in list items of
the menu */
background: darkcyan;
color: #fff;
padding: 0.5em;
}
ul#menu li a:hover { /* stylizing the <a> elements nested in list
items of the menu when mouse is placed or moved over them */
background: black;
}
ul#menu li ul li a {
background: grey;
color: white;
padding-left: 15px;
}
ul#menu li ul li a:hover {
background: #aaa;
color: white;
border-left: 5px grey solid;
padding-left: 15px;
}
.st
{
display:inline;
}
</STYLE>
